body{
	background:url(../img/2.jpg);
	background-size:100% 1000px;
	overflow: hidden;
}
.zi{
	color:yellow;
	margin:0 auto;
	font-size: 80px;
	text-align: center;
	font-family: "楷体";
}
#home{
		width:500px;
		height:500px;
		position: absolute;
		left:50%;
		top:50%;
		margin-left:-250px;
		margin-top:-250px;
		border-radius: 50%;
	}
.on{
	width:150px;
	height:150px;
	background: #1f2a2e;
	position: absolute;
	left:50%;
	margin-left: -100px;
	margin-top:-100px;
	border-radius: 50%;
	box-shadow: 0 0 20px #fff;
	font-size: 24px;
	text-align: center;
	line-height: 150px;
	font-family: "楷体";
	position: absolute;
	left:50%;
	top:50%;
	margin-left:-100px;
	margin-top:-100px;
	transition:2s all ease;
	}
.on a{
	color:#fff;
}
.on:hover{
	transition:1s all ease;
	transform:scale(1.5,1.5);
}
.Img{
	width:150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	left:50%;
	top:50%;
	margin-left:-100px;
	margin-top:-100px;
	box-shadow: 0 0 40px #fff;
	z-index: 2;
	transition:2s all ease;
}
.Img:hover{
	transition:1s all ease;
	transform:scale(1.5,1.5);
}
.Img img{
	width:150px;
	height:170px;
}